
body{
    background-color: #FFFFFF;
}
.main{
    color:black;
}
.contact-submit{
    background-color: #dee7ec;
    color: #889eab;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    padding: 30px 0;
    width: 500px;
    margin:100px auto 0px auto;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color:black;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
input,textarea{
    width:400px;
    /* margin-top:10px; */
    /* margin-bottom:30px; */
    padding:20px;
    font-size:18px;
    border:1px solid #dee7ec;
    border-radius: 30px;
  }
  .btn{
      padding: 10px 30px;
      font-size: 30px;

  }
images{
    margin:50px;
    padding:50px;

}
.container{
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main-text h1{
    font-size: 50px;
    font-weight: 900;
    margin:10px auto;
}
.map h2{
    text-align: centre;

    
}
section-title h1{
    text-align: center;
}
/*.type{
margin-top: 30px;
display: inline-block;
align-self: center;
}*/
.centered{ margin: 0 auto; }
.store-type img{
    display:block;
    maging:auto;text-align: center;
}
.row-margin-05{
    margin-top: 10em;
}