@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap');
body {
    line-height: 1.5;
    font-family: 'Alegreya Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    height: 70vh;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    background-color: rgb(85, 11, 11);
    background-image: url("https://www.seekpng.com/png/full/46-468911_orange-lines-png.png");
    padding: 50px;
    background-size: cover;
}

.footer-col {
    float: center;
    width: 33.33%;
    padding: 10px;
}

.footer-col h2 {
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.column {
    float: center;
}

.col {
    float: center;
    text-align: center;
}

.col ul li a {
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.3s ease;
}

.col ul li a:hover {
    color: #bbbbbb;
    padding-left: 8px;
}

.social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}


/*responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}
